.article {
	padding:$space-5 $space-3;
	@media (min-width:$breakpoint-sm) and (max-width:$breakpoint-md) {
		padding:$space-5 0;
	}
	&__date-section {
		@media (max-width:$breakpoint-sm) {
			display:none;
		}
	}

	&__month, &__day {
		font-family:$mono-font-family;
		font-weight:200;
		text-transform:uppercase;
	}

	&__month {
		font-size:12px;
		font-weight:400;
		font-family:$mono-font-family;
		margin-top:$space-2;
		color:palette(grey, x-dark);
	}

	&__day {
		font-size:18px;
		font-weight:400;
		font-family:$mono-font-family;
	}
}


.article__h1 {
	font-family:$mono-font-family;
	font-size:1.4rem;
	margin:$space-2 0;
	line-height:1.3;
	@media (min-width:$breakpoint-md) {
		font-size:1.6rem;
	}
}

.article__excerpt {
	font-weight:200;
	margin-top:$space-4;
	margin-bottom:$space-3;
	font-size:1.2rem;
	color:palette(black, x-light);
}

.article__img-container {
	padding-bottom:66.667%;
	background:palette(grey, xx-light);
	position:relative;
	width: 100%;
	overflow:hidden;
}

.article__img {
	position:absolute;
	left:0;
	will-change: opacity;
	transition: opacity 0.45s;
	top:0;
	width:100%;
	height:auto;
}


.article__carousel {
	outline:none;
}


.article__intro-section {
	
}



.article__content {
	margin-top:$space-3;
	.p1 {
		padding:0;
	}

	h1,h2,h3,h4,h5,h6 {
		font-family:$mono-font-family;
		margin-top:$space-4;
		font-weight:400;
		margin-bottom:$space-3;
	}
	p {
		margin:$space-2 0;
		line-height:1.7;
		font-size:1.1rem;
	}
	.wp-caption-text {
		margin-top:-$space-2;
		float:right;
		font-size:0.95rem;
		font-style:italic;
		color:palette(grey, x-dark);
	}
	img {
		width:100%;
		height:auto;
		margin:$space-3 0;
	}
	strong {
		font-weight:400;
	}
	a {
		text-decoration:underline;
	}
	blockquote {
		margin:$space-5 0;
		display:block;
		padding-left:$space-4;
		border-left:1px solid palette(grey, base);
		p {
			font-size: 1.6rem;
			font-style:italic;
			//text-align:center;
		}
	}
	ul,ol {
		margin:$space-3 0;
		padding-left:1.25rem;
		list-style-type: square;
		font-size:1.2rem;
		font-weight:200;
		li {
			margin-top:$space-2;
		}
	}
}