.footer {
   position:fixed;
   bottom:0;
   right:0;
   left:0;
   transform:translateY(100%);
   transition:transform 0.35s;
   will-change: transform;
   z-index:$z4;

   &.visible {
   	 transform:translateY(0%);
   }
   padding:1.35rem $space-3;
   background:$white;
   @media (min-width:$breakpoint-sm) {
   		padding:$space-4 $space-4;
   }
   @media (min-width:$breakpoint-lg) {
   		padding:$space-4 $space-3;
   }
   border-top:1px solid palette(grey, x-light);
}


.footer__inner {
	width:100%;
}


.footer__a {
	margin-left:$space-3;
	line-height:1.3;
	@media (min-width:$breakpoint-sm) {
		margin-left:$space-4;
	}
}


.footer__logo {
	width:45px;
	@media (min-width:$breakpoint-sm) {
		width:auto;
	}
}


.footer__heading {
	font-family:$mono-font-family;
	text-transform:uppercase;
	font-size:0.8rem;
	&:hover {
		&:after {
			opacity:1;
		}
	}

	&:after {
		content:'→';
		opacity:0.2;
		transition:opacity 0.2s;
		margin-left:$space-2;
		position:relative;
		font-size:1.1rem;
		display:inline-block;
	}
}

