.intro {
	padding:$space-5 $space-3 $space-2 $space-3;
	margin-bottom:$space-5;
	position:relative;
	@media (min-width:$breakpoint-sm) {
		margin-bottom:0;
		padding:$space-5 $space-6 $space-6 $space-4;
	}
	@media (min-width:$breakpoint-md) {
		margin-bottom:0;
		margin-left: calc(1/12 * 100%);
		padding:$space-4 $space-6 $space-6 $space-3;
	}
}


.intro__h1 {
	font-family:$mono-font-family;
	font-size:1.25rem;
	font-weight:400;
	margin-top:$space-4;
	line-height:1.5;
	@media (min-width:$breakpoint-sm) {
		font-size:1.6rem;
	}
}


.intro__a {
	text-decoration:underline;
}


.intro__span {
	font-family:$mono-font-family;
	font-size:0.7rem;
	font-weight:400;
	color:palette(grey, x-dark);
	margin-top:$space-4;
	padding-top:$space-3;
	display:block;
	text-transform:uppercase;
	@media (min-width:$breakpoint-sm) {
		font-size:0.75rem;
		margin-top:$space-5;
	}
}



.intro-service {
	margin-top:$space-2;
	@media (min-width:$breakpoint-md) {
		margin-top:$space-4;
	}
}

.intro-service__a {
	&:hover {
		.intro-service__title:after {
			opacity:1;
		}
	}

}


.intro__li-section {
	@media (min-width:$breakpoint-md) {
		padding-left:$space-3;
	}
}

.intro__li-list {
	list-style:none;
	margin-top:$space-3;
	@media (min-width:$breakpoint-md) {
		margin-top:$space-4;
	}
}

.intro__li {
	font-size:1rem;
	line-height:1.3;
	font-family:$mono-font-family;
	margin-top:$space-2;
	display:block;
}


.intro-service__title {
	font-size:1rem;
	line-height:1.3;
	font-family:$mono-font-family;
	&.has-link {
		&:after {
			content:'↗';
			position:relative;
			display:inline-block;
			margin-left:$space-2;
			font-size:1.3rem;
			opacity:0.2;
			transition:opacity 0.25s;
		}
	}
	@media (min-width:$breakpoint-sm) {
		font-size:1.15rem;
	}
}


.intro-service__description {
	margin-top:$space-2;
	font-weight:200;
	display:none;
	line-height:1.4;
	color:palette(black, xx-light);
	@media (min-width:$breakpoint-sm) {
		width:70%;
		display:block;
	}
}