.post {
	padding:$space-2 0 0 0;

	@media (min-width:$breakpoint-sm) {
		display:flex;
		padding:$space-3 0;
	}
	
	&__date-section, &__content-section, &__img-section {
		padding:$space-3;
		@media (min-width:$breakpoint-sm) {
			padding:$space-3;
		}
	}

	&__title {
		font-family:$mono-font-family;
		margin-top:$space-3;
	}

	&__excerpt {
		font-size:1rem;
		margin-top:$space-4;
	}


	&__date-section {
		text-align:center;
	}

	&__month, &__day {
		font-family:$mono-font-family;
		font-weight:200;
		text-transform:uppercase;
	}

	&__month {
		font-size:12px;
		font-weight:400;
		font-family:$mono-font-family;
		margin-top:$space-2;
		color:palette(grey, x-dark);
	}

	&__day {
		font-size:18px;
		font-weight:400;
		font-family:$mono-font-family;
	}


	&__category {
		font-weight:200;
		font-family:$mono-font-family;
		font-size:0.75rem;
		color:palette(grey, x-dark);
	}

	&__content-section {
		@media (min-width:$breakpoint-sm) {
			order:3;
		}
	}

	&__img-section {
		@media (min-width:$breakpoint-sm) {
			order:2;
		}
	}

	&__carousel {
		background:palette(grey, xx-light);
		position:relative;
		overflow:hidden;
		outline:none;
		padding-bottom:66.667%;
	}

	&__img-container {
		padding-bottom:66.667%;
		background:palette(grey, xx-light);
		position:relative;
		overflow:hidden;
	}

	&__img {
		position:absolute;
		left:0;
		transition: opacity 1000ms;
		top:0;
		width:100%;
		height:auto;
	}
}