.service-page {
	overflow:hidden;
	&__h1 {
		font-family:$mono-font-family;
		font-size:1.8rem;
		@media (min-width:$breakpoint-sm) {
			font-size:3rem;
		}
		@media (min-width:$breakpoint-lg) {
			font-size:4rem;
		}
	}
	&__excerpt {
		max-width:100px;
		color:blue;
	}

	&__summary {
		font-family:$mono-font-family;
		text-transform:uppercase;
		font-size:0.8rem;
	}


	&__line {
		height:325px;
		width:1px;
		background:black;
		display:inline-block;
		margin:$space-2 auto;
		opacity:0.2;
		transition:3s;
		&.active {
			opacity:1;
		}
	}
	

	&__step {

	}

	&__step-title {
		font-family:$mono-font-family;
		text-transform:uppercase;
		font-size:0.8rem;
	}

	&__step-icon {
		width:35px;
		height:35px;
		margin-top:$space-2;
	}
}



.step {

	&__title {
		font-family:$mono-font-family;
		margin-top:$space-4;
		margin-bottom:0;
		@media (min-width:$breakpoint-sm) {
			margin-top:$space-3;
			padding-right:$space-2;
			margin-bottom:$space-3;
		}

	}
}


#buy {
	position:absolute;
	top:50%;
	left:0;
	width:50px;
}

#tshirt {
	position:absolute;
	top:150%;
	right:0;
}

#scrub {
	position:absolute;
	top:225%;
	left:-25px;
}