.service {
	padding:$space-4 0;
	overflow:hidden;
	@media (min-width:$breakpoint-sm) {
		padding-left: calc(1/12 * 100%);
		padding-top:$space-6;
		padding-bottom:$space-6;
	}
	&__type-section, &__content-section, &__img-section {
		padding:$space-3;
		@media (min-width:$breakpoint-sm) {
			padding:0 $space-3;
		}
	}
	&__type-section {
		@media (max-width:$breakpoint-sm) {
			display:none;
		}
	}
}

.service__carousel {
	outline:none;
}

.service__a {
	font-family:$mono-font-family;
	text-transform:uppercase;
	display:inline-block;
	&:hover {
		&:after {
			opacity:1;
		}
	}
	&:after {
		content:'↗';
		position:relative;
		display:inline-block;
		margin-left:$space-2;
		font-size:1.3rem;
		opacity:0.2;
		transition:opacity 0.25s;

	}
}

.service__h2 {
	font-size:1.4rem;
	margin-top:$space-3;
	font-family:$mono-font-family;
	@media (min-width:$breakpoint-sm) {
		font-size:1.4rem;
	}
	@media (min-width:$breakpoint-md) {
		font-size:1.8rem;
	}
}

.service__p {
	margin-top:$space-4;
}


.service__img-container {
	position:relative;
	width:300px;
	height:300px;
	&.active {
		.service__inner {
			opacity:1;
		}
		.service__arrow {
			&:after {
				transform:translateX(0%);
			}
		}
		.service__arrow-head {
			opacity:1;
		}
	}
	@media (min-width:$breakpoint-md) {
		width:400px;
		height:400px;
	}
}

.service__img {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:auto;
}


.service__inner {
	display:inline-flex;
	width:100%;
	align-items:center;
	position:absolute;
	bottom:0;
	transform:translateY(100%);
	padding:$space-2 0;
	left:0;
	right:0;
	transition:opacity 0.35s;
	opacity:0.25;
}

.service__step {
	font-family:$mono-font-family;
	text-transform:uppercase;
	font-size:0.8rem;
}

.service__arrow {
	width:100%;
	height:1px;
	flex: 1;
	margin:0 $space-2;
	position:relative;
	overflow:hidden;
	background:palette(grey, light);

	&:after {
		content:'';
		transform:translateX(-100%);
		background:$black;
		transition:transform 0.45s $easing;
		position:absolute;
		left:0;
		right:0;
		bottom:0;
		top:0;
	}
}

.service__arrow-head {
	position:absolute;
	right:5px;
	height:10px;
	width:10px;
	top:50%;
	transition:opacity 0.35s;
	opacity:0.25;
	transition-delay:0.45s;
	transform:translateY(-45%);
}

